@font-face {
	font-family: 'Computer Modern Serif Slanted';
	src: url('cmun-serif-slanted/cmunsl.eot');
	src: url('cmun-serif-slanted/cmunsl.eot?#iefix') format('embedded-opentype'),
		 url('cmun-serif-slanted/cmunsl.woff') format('woff'),
		 url('cmun-serif-slanted/cmunsl.ttf') format('truetype'),
		 url('cmun-serif-slanted/cmunsl.svg#cmunsl') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Computer Modern Serif Slanted';
	src: url('cmun-serif-slanted/cmunbl.eot');
	src: url('cmun-serif-slanted/cmunbl.eot?#iefix') format('embedded-opentype'),
		 url('cmun-serif-slanted/cmunbl.woff') format('woff'),
		 url('cmun-serif-slanted/cmunbl.ttf') format('truetype'),
		 url('cmun-serif-slanted/cmunbl.svg#cmunbl') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
