@font-face {
	font-family: 'Computer Modern Sans Demi-Condensed';
	src: url('cmun-sans-demicondensed/cmunssdc.eot');
	src: url('cmun-sans-demicondensed/cmunssdc.eot?#iefix') format('embedded-opentype'),
		 url('cmun-sans-demicondensed/cmunssdc.woff') format('woff'),
		 url('cmun-sans-demicondensed/cmunssdc.ttf') format('truetype'),
		 url('cmun-sans-demicondensed/cmunssdc.svg#cmunssdc') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

