/*Start font*/
@font-face {
	font-family: 'Univers Condensed';
	src: url('uc/uc.eot');
	src: local('☺'), url('uc/uc.woff') format('woff'), url('uc/uc.ttf') format('truetype'), url('uc/uc.svg') format('svg'), url('uc/uc.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Univers Condensed';
	src: url('uc/uc_bold.eot');
	src: local('☺'), url('uc/uc_bold.woff') format('woff'), url('uc/uc_bold.ttf') format('truetype'), url('uc/uc_bold.svg') format('svg'), url('uc/uc_bold.eot?#iefix') format('embedded-opentype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Univers Condensed';
	src: url('uc/uc_italic.eot');
	src: local('☺'), url('uc/uc_italic.woff') format('woff'), url('uc/uc_italic.ttf') format('truetype'), url('uc/uc_italic.svg') format('svg'), url('uc/uc_italic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Univers Condensed';
	src: url('uc/uc_bold_italic.eot');
	src: local('☺'), url('uc/uc_bold_italic.woff') format('woff'), url('uc/uc_bold_italic.ttf') format('truetype'), url('uc/uc_bold_italic.svg') format('svg'), url('uc/uc_bold_italic.eot?#iefix') format('embedded-opentype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
/*End font*/