<!DOCTYPE html>
<html class="theme-dark">

<head>
  <title>Uyamak Editor</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />



  <link rel="stylesheet" href="css/fonts/u57c.min.css" />
  <link rel="stylesheet" href="dependencies/fa/css/all.min.css" />
  <link rel="stylesheet" href="dependencies/noty/noty.css" />
  <link rel="stylesheet" href="dependencies/noty/themes/nest.css" />

  <link rel="stylesheet" href="css/themes.min.css?bv=u" />
  <link rel="stylesheet" href="css/style.min.css?bv=u" />


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89998286-3"></script>


</head>

<body class="not-selectable">
  <div id="GraphForCopyPaste" class="hide-always"></div>
  <div id="waitForProcessToFinish" class="zidx5">
    <div>
      <div id="DOMWaitingAnimation">
        <i class="fas fa-cog fa-spin fa-2x"></i>
      </div>
      <div id="DOMWaitingHead">
        Please wait ...
      </div>
      <div id="DOMWaitingDesc">
        <i>
          If it takes longer than 2 minutes. Check you internet connection and try again.
        </i>
      </div>
    </div>
  </div>
  <div id="skgadi-ad-area" class="modal-translusent hide-always">
    <a href="//lauhoosh.net/afu.php?zoneid=3619362" target="_blank">
      <div class="skgadi-ad-area">
        <div>
          <span><i class="fas fa-ad fa-2x"></i></span><br />
          <span style="font-size: 30px;">Ad-stop: Click to open ad on new window.</span><br />
          <span style="font-size: 30px;">Monthly subscription is coming soon for an ad-free version.</span>
        </div>
      </div>
    </a>
  </div>
  <div id="drop-area" class="modal-translusent hide-always">
    <div class="drop-area"><span><i class="fas fa-flag-checkered fa-2x"></i></span> </div>
  </div>
  <div id="lFManager" class="modal zidx4" v-show="display">
    <div>
      <div id="lFManager-main">
        <span class="close-btn" @click="showGUI(false)"><i class="far fa-fw fa-times-circle"></i></span>
        <h1 class="center" v-html="GUIText[settings.lang].locFMgr"></h1>
        <div class="splitShort">
          <div class="no-col-break center">
            <h2 v-html="GUIText[settings.lang].saveToLMach"></h2>
            <div class="limit-250 margin-center">
              <div>
                <div class="checkboxItem pointer left" @click="sOptions.m = !sOptions.m">
                  <i class="fas" :class="sOptions.m?'fa-check-square':'fa-square'"></i>
                  <span v-text="GUIText[settings.lang].model"></span>
                </div>
              </div>
              <div>
                <div class="checkboxItem pointer left" @click="sOptions.v = !sOptions.v">
                  <i class="fas" :class="sOptions.v?'fa-check-square':'fa-square'"></i>
                  <span v-text="GUIText[settings.lang].vars"></span>
                </div>
              </div>
              <div>
                <div class="checkboxItem pointer left" @click="sOptions.s = !sOptions.s">
                  <i class="fas" :class="sOptions.s?'fa-check-square':'fa-square'"></i>
                  <span v-text="GUIText[settings.lang].simSet"></span>
                </div>
              </div>
              <div>
                <div class="checkboxItem pointer left" @click="sOptions.g = !sOptions.g">
                  <i class="fas" :class="sOptions.g?'fa-check-square':'fa-square'"></i>
                  <span v-text="GUIText[settings.lang].guiSet"></span>
                </div>
              </div>
            </div>
            <br />
            <h3 class="compress" v-text="GUIText[settings.lang].enterFileName"></h3>
            <div class="limit-250 margin-center">
              <input id="fMFName" class="inter-itm center" v-model="sFName" />
            </div>
            <br />
            <div v-show="enSave" class="center gen-btn" v-html="GUIText[settings.lang].save" @click="sToFile"></div>
            <div v-show="!enSave" class="blocked gen-btn" v-html="GUIText[settings.lang].save"></div>
          </div>
          <div class="no-col-break center">
            <h2 v-html="GUIText[settings.lang].loadFrmLMach"></h2>
            <div class="limit-250 margin-center">
              <div>
                <div v-if="oAvail.m" class="checkboxItem pointer left" @click="oOptions.m = !oOptions.m">
                  <i class="fas" :class="oOptions.m?'fa-check-square':'fa-square'"></i>
                  <span v-text="GUIText[settings.lang].model"></span>
                </div>
                <div v-else class="checkboxItem disabled left">
                  <i class="fas fa-minus-square"></i>
                  <span v-text="GUIText[settings.lang].model"></span>
                </div>
              </div>
              <div>
                <div v-if="oAvail.v" class="checkboxItem pointer left" @click="oOptions.v = !oOptions.v">
                  <i class="fas" :class="oOptions.v?'fa-check-square':'fa-square'"></i>
                  <span v-text="GUIText[settings.lang].vars"></span>
                </div>
                <div v-else class="checkboxItem disabled left">
                  <i class="fas fa-minus-square"></i>
                  <span v-text="GUIText[settings.lang].vars"></span>
                </div>
              </div>
              <div>
                <div v-if="oAvail.s" class="checkboxItem pointer left" @click="oOptions.s = !oOptions.s">
                  <i class="fas" :class="oOptions.s?'fa-check-square':'fa-square'"></i>
                  <span v-text="GUIText[settings.lang].simSet"></span>
                </div>
                <div v-else class="checkboxItem disabled left">
                  <i class="fas fa-minus-square"></i>
                  <span v-text="GUIText[settings.lang].simSet"></span>
                </div>
              </div>
              <div>
                <div v-if="oAvail.g" class="checkboxItem pointer left" @click="oOptions.g = !oOptions.g">
                  <i class="fas" :class="oOptions.g?'fa-check-square':'fa-square'"></i>
                  <span v-text="GUIText[settings.lang].guiSet"></span>
                </div>
                <div v-else class="checkboxItem disabled left">
                  <i class="fas fa-minus-square"></i>
                  <span v-text="GUIText[settings.lang].guiSet"></span>
                </div>
              </div>
            </div>
            <br />
            <div @click="selectFile" class="inter-itm pointer">
              <input id="file-input" type="file" name="name" class="hide-always" />
              <div v-html="GUIText[settings.lang].sFile"></div>
              <h3 class="compress" v-html="oFDesc"></h3>
            </div>
            <br />
            <div class="splitToTwo">
              <div v-if="enOpen" class="center gen-btn" v-html="GUIText[settings.lang].open" @click="oprnOpen(false)">
              </div>
              <div v-show="!enOpen" class="center gen-btn blocked" v-html="GUIText[settings.lang].open"></div>
              <div v-show="enIprt" class="center gen-btn" v-html="GUIText[settings.lang].import"
                @click="oprnOpen(true)"></div>
              <div v-show="!enIprt" class="center gen-btn blocked" v-html="GUIText[settings.lang].import"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="cookies-policy" class="modal" v-show="display">
    <div>
      <h1 class="center" v-html="GUIText[settings.lang].cPolicyText"></h1>
      <br>
      <div class="splitToTwo">
        <div class="center gen-btn" v-html="GUIText[settings.lang].cPolicyLink"></div>
        <div class="center gen-btn" v-html="GUIText[settings.lang].accept" @click="acceptBtn"></div>
      </div>
    </div>
  </div>
  <div id="settings" class="modal" v-show="display">
    <div>
      <span class="close-btn" @click="showGUI(false)"><i class="far fa-fw fa-times-circle"></i></span>
      <h1 class="center" v-text="GUIText[settings.lang].settings"></h1>
      <div class="splitShort">
        <div class="no-col-break limit-250 margin-center">
          <h3 class="compress center" v-html="GUIText[settings.lang].language"></h3>
          <select class="inter-itm" v-model="settings.lang">
            <option value="en-us" v-text="GUIText[settings.lang]['en-us']"></option>
            <option value="es-mx" v-text="GUIText[settings.lang]['es-mx']"></option>
          </select>
        </div>
        <div class="no-col-break limit-250 margin-center">
          <h3 class="compress center" v-text="GUIText[settings.lang].theme"></h3>
          <select class="inter-itm" v-model="settings.theme">
            <option v-for="(item,idx) in cThemes[settings.lang]" :value="idx" v-text="item"></option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div id="varManager" class="modal" v-show="display">
    <div>
      <span class="close-btn" @click="showGUI(false)"><i class="far fa-fw fa-times-circle"></i></span>
      <h1 v-text="GUIText[settings.lang].vManager"></h1>
      <h2 v-text="GUIText[settings.lang].variables"></h2>
      <div class="var-container">
        <template v-for="(item, idx) in variables">
          <div class="expandable-x" v-show="!showEdtVar || edtVar.index !== idx">
            <span v-text="(idx+1)+'.'" class="gap-right"></span>
            <pre class="inline font-oneNhalf" v-text="item.name"></pre>
            <span style="display: inline-flex;" v-text="' $:='+getVariable(item)+'$'"></span>
            <span style="display: inline-flex;" v-text="'$='+varValidValues[idx]+'$'"></span>
            <span class="f-right pointer gap-right gap-left" @click="delVar(idx)">
              <i class="fa-fw far fa-trash-alt"></i>
            </span>
            <span class="f-right pointer gap-right gap-left" @click="editVar(idx)">
              <i class="fa-fw fas fa-pen"></i>
            </span>
            <span class="f-right pointer gap-right gap-left" @click="moveVar(true, idx)">
              <i class="fa-fw fas fa-arrow-up"></i>
            </span>
            <span class="f-right pointer gap-right gap-left" @click="moveVar(false, idx)">
              <i class="fa-fw fas fa-arrow-down"></i>
            </span>
          </div>
          <div v-show="showEdtVar" v-if="edtVar.index===idx">
            <div v-text="GUIText[settings.lang].var"></div>
            <input type="text" v-model="edtVar.name">
            <div v-text="checkValidVar(edtVar.name, edtVar.index).msg"></div>
            <div v-text="GUIText[settings.lang].value"></div>
            <div class="matrix-builder-buttons">
              <span @click="cngVarDim(0)" class="rotate-90">
                <i class="fas fa-ellipsis-h fa-fw"></i><i class="fas fa-plus-circle fa-fw"></i>
              </span>
              <span @click="cngVarDim(1)" class="rotate-90">
                <i class="fas fa-ellipsis-h fa-fw"></i><i class="fas fa-minus-circle fa-fw  fa-rotate-90"></i>
              </span>
              <span @click="cngVarDim(2)">
                <i class="fas fa-ellipsis-h fa-fw"></i><i class="fas fa-plus-circle fa-fw"></i>
              </span>
              <span @click="cngVarDim(3)">
                <i class="fas fa-ellipsis-h fa-fw"></i><i class="fas fa-minus-circle fa-fw"></i>
              </span>
            </div>
            <div class="expandable-x">
              <table>
                <template v-for="(rowValue, index1) in edtVar.value">
                  <tr v-if="index1 === 0" style="padding: 0;">
                    <td></td>
                    <template v-for="(value, index2) in edtVar.value[index1]">
                      <td class="center" v-text="index2 + 1"></td>
                    </template>
                  </tr>
                  <tr>
                    <td v-text="index1 + 1"></td>
                    <template v-for="(value, index2) in edtVar.value[index1]">
                      <td>
                        <input class="center" v-model.trim="edtVar.value[index1][index2]" type="text" />
                      </td>
                    </template>
                  </tr>
                </template>
              </table>
            </div>
            <div class="splitToTwo">
              <div @click="saveVar" class="gen-btn" v-text="GUIText[settings.lang].save"></div>
              <div @click="showEdtVar = false" class="gen-btn" v-text="GUIText[settings.lang].cancel"></div>
            </div>
          </div>
        </template>
        <div v-show="showEdtVar" v-if="edtVar.index<0">
          <div v-text="GUIText[settings.lang].var"></div>
          <input type="text" v-model="edtVar.name">
          <div v-text="checkValidVar(edtVar.name, edtVar.index).msg"></div>
          <div v-text="GUIText[settings.lang].value"></div>
          <div class="matrix-builder-buttons">
            <span @click="cngVarDim(0)" class="rotate-90">
              <i class="fas fa-ellipsis-h fa-fw"></i><i class="fas fa-plus-circle fa-fw"></i>
            </span>
            <span @click="cngVarDim(1)" class="rotate-90">
              <i class="fas fa-ellipsis-h fa-fw"></i><i class="fas fa-minus-circle fa-fw  fa-rotate-90"></i>
            </span>
            <span @click="cngVarDim(2)">
              <i class="fas fa-ellipsis-h fa-fw"></i><i class="fas fa-plus-circle fa-fw"></i>
            </span>
            <span @click="cngVarDim(3)">
              <i class="fas fa-ellipsis-h fa-fw"></i><i class="fas fa-minus-circle fa-fw"></i>
            </span>
          </div>
          <div class="expandable-x">
            <table>
              <template v-for="(rowValue, index1) in edtVar.value">
                <tr v-if="index1 === 0" style="padding: 0;">
                  <td></td>
                  <template v-for="(value, index2) in edtVar.value[index1]">
                    <td class="center" v-text="index2 + 1"></td>
                  </template>
                </tr>
                <tr>
                  <td v-text="index1 + 1"></td>
                  <template v-for="(value, index2) in edtVar.value[index1]">
                    <td>
                      <input class="center" v-model.trim="edtVar.value[index1][index2]" type="text" />
                    </td>
                  </template>
                </tr>
              </template>
            </table>
          </div>
          <div class="splitToTwo">
            <div @click="saveVar" class="gen-btn" v-text="GUIText[settings.lang].save"></div>
            <div @click="showEdtVar = false" class="gen-btn" v-text="GUIText[settings.lang].cancel"></div>
          </div>
        </div>
        <div v-if="!showEdtVar" @click="addVar" class="gen-btn" v-text="GUIText[settings.lang].aNewVar"></div>
      </div>
      <h2 v-text="GUIText[settings.lang].constants"></h2>
      <div class="splitShort">
        <template v-for="(item, idx) in constants">
          <div class="no-col-break">
            <span v-text="(idx+1)+'.'" class="gap-right"></span>
            <pre class="inline font-oneNhalf" v-text="item"></pre>
            <span v-text="' $:='+getConst(item)+'$'"></span>
          </div>
        </template>
      </div>
    </div>
  </div>
  <div id="main">
    <div id="tool-bar">
      <ul class="menu f-left" id="main-menu">
        <template v-for="(item, idx) in tools">
          <li class="dropdown">
            <a class="dropbtn" @mouseover="showStatus(item.moreInfo[lang])" @mouseleave="removeStatus()">
              <span><i :class="item.icon"></i></span>
              <span class="gap-left hide-medium-small" v-text="item.text[lang]"></span>
            </a>
            <div class="dropdown-content">
              <template v-for="(item0, idx0) in item.subMenu">
                <a :style="item0.prtBelow?'border-bottom: 1px var(--col-border-0) solid':''"
                  @mouseover="showStatus(item0.moreInfo[lang])" @mouseleave="removeStatus()"
                  @click="evalFunc(item0.func)">
                  <span><span><i class="fa-fw" :class="item0.icon"></i></span><span class="gap-left hide-small"
                      v-text="item0.text[lang]"></span></span>
                  <span v-if="!!item0.kbShort.key" class="menuShortcut hide-medium-small">
                    <template v-if="!!item0.kbShort.ctrl">
                      <span v-text="GUIText[lang]['key_ctrl']"></span><span>+</span>
                    </template><template v-if="!!item0.kbShort.alt">
                      <span v-text="GUIText[lang]['key_alt']"></span><span>+</span>
                    </template><template v-if="!!item0.kbShort.shift">
                      <span v-text="GUIText[lang]['key_shift']"></span><span>+</span>
                    </template><span v-text="GUIText[lang][item0.kbShort.langCode]"></span>
                  </span>
                </a>
              </template>
            </div>
          </li>
        </template>
        <!--li class="dropdown" @click="wMode = !wMode"><a :class="(wMode)?'dropbtn-hovered':'dropbtn'" @mouseover="showStatus(GUIText[settings.lang].wMode)" @mouseleave="removeStatus()"><i class="fas fa-fw fa-route"></i></a></li-->
      </ul>
      <ul class="menu f-right" id="sim-menu">
        <li class="dropdown" @click="informSim('start')" v-if="disp.run"><a class="dropbtn"><i
              class="fas fa-fw fa-play"></i></a></li>
        <li class="blocked" v-if="!disp.run"><a><i class="fas fa-fw fa-play"></i></a></li>
        <li class="dropdown" @click="informSim('stop')" v-if="disp.stop"><a class="dropbtn"><i
              class="fas fa-fw fa-stop"></i></a></li>
        <li class="blocked" v-if="!disp.stop"><a><i class="fas fa-fw fa-stop"></i></a></li>
        <li class="dropdown" @click="informSim('pause')" v-show="disp.pause"><a class="dropbtn"><i
              class="fas fa-fw fa-pause"></i></a>
        </li>
        <li class="blocked" v-if="!disp.pause"><a><i class="fas fa-fw fa-pause"></i></a></li>
        <li class="dropdown" @click="informSim('steps')" v-if="disp.forward"><a class="dropbtn"><i
              class="fas fa-fw fa-step-forward"></i></a></li>
        <li class="blocked" v-if="!disp.forward"><a><i class="fas fa-fw fa-step-forward"></i></a></li>
        <li class="dropdown">
          <a class="dropbtn"><i class="fas fa-fw fa-cogs"></i></a>
          <div class="dropdown-content settings-drop-dn">
            <p class="compress" v-html="GUIText[settings.lang].nSteps"></p>
            <input class="sim-settings-entry" type="number" v-model.number="simSettings.steps">
            <p class="compress" v-html="GUIText[settings.lang].endTime"></p>
            <input class="sim-settings-entry" type="number" v-model.number="simSettings.T">
            <p class="compress" v-html="GUIText[settings.lang].stepSize"></p>
            <input class="sim-settings-entry" type="number" v-model.number="simSettings.h">
            <p class="compress"
              v-html="GUIText[settings.lang].intType+' ('+GUIText[settings.lang].intTs+' '+((intTypes[simSettings.it].m?intTypes[simSettings.it].m:1)*simSettings.h)+' ms)'">
            </p>
            <select class="inter-itm" v-model="simSettings.it">
              <option v-for="(val, idx) in intTypes" :value="idx" v-html="val.desc[settings.lang]"></option>
            </select>
            <p class="compress" v-html="GUIText[settings.lang].sOEvery"></p>
            <input class="sim-settings-entry" type="number" v-model.number="simSettings.sOEvery">
            <p class="compress" v-html="GUIText[settings.lang].mHis"></p>
            <input class="sim-settings-entry" type="number" v-model.number="simSettings.mHis">
            <div v-if="false" class="checkboxItem pointer" @click="simSettings.realtime = !simSettings.realtime">
              <i class="fas" :class="simSettings.realtime?'fa-check-square':'fa-square'"></i>
              <span v-text="GUIText[settings.lang].rRealTime"></span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div id="left-pane" class="pane">
      <div id="hide-button-left" class="hide-btn">
        <div><span id="hide-left-text"></span></div>
        <div>
          <i class="fas fa-angle-double-left"></i>
        </div>
      </div>
      <div id="lp-content" :key="'lp_content_'+updateCounter">
        <div id="blocks-library">
          <div class="blocks-search-bar">
            <span @click="focusBar"><i class="fas fa-fw fa-search"></i></span>
            <span>
              <input id="search-input" @focus="sBFocus(true)" @blur="sBFocus(false)"
                :placeholder="GUIText[settings.lang].sblocks" v-model="searchText" type="text">
            </span>
            <span v-show="!!searchText" @click="searchText=''">
              <i class="fas fa-fw fa-times"></i>
            </span>
          </div>
          <div class="category-full">
            <div v-show="!!searchText" @click="disp['search'] = !disp['search']; updateCounter++"
              class="category-head pointer">
              <span><i class="fa-fw fas fa-search"></i></span><span><i class="fas fa-fw fa-caret-right"
                  :class="[(!!disp['search'])?'fa-rotate-90':'']">
                </i></span><span v-text="GUIText[settings.lang].sResults"></span>
            </div>
            <div v-show="!!searchText" class="category-content">
              <div v-show="disp['search']">
                <template v-for="(item0, idx0) in searchResults" :key="item0">
                  <svg class="libraryBlock monospace" :umk_model="item0" @mouseover="showStatus(blksSummary[item0])"
                    @mouseleave="removeStatus()" viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'>
                    <g>
                      <rect height='100' width='100' fill-opacity='1' fill='var(--col-background-2)' stroke-width='1'
                        stroke='var(--col-border-1)' />
                    </g>
                    <g stroke-linecap='round' width='100' height='100' stroke='var(--col-text-1)' stroke-width='5'
                      fill='none' v-html="blksSummary[item0].icon"></g>
                  </svg>
                </template>
              </div>
            </div>
          </div>
          <template v-for="(item, idx) in categories">
            <div class="category-full">
              <div @click="showHide(item.id)" class="category-head pointer">
                <span><i class="fa-fw" :class="item.icon"></i></span><span :id="'categories_list_icon_'+item.id"><i
                    class="fas fa-fw fa-caret-right" :class="[(!idx)?'fa-rotate-90':'']">
                  </i></span><span v-text="item.name[settings.lang]"></span>
              </div>
              <div class="category-content" :id="'categories_list_'+item.id"
                :style="'display:'+((!idx)?'block':'none')">
                <div>
                  <template v-for="(item0, idx0) in blksPerCategories[item.id]">
                    <svg class="libraryBlock monospace" :umk_model="item0" @mouseover="showStatus(blksSummary[item0])"
                      @mouseleave="removeStatus()" viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'>
                      <g>
                        <rect height='100' width='100' fill-opacity='1' fill='var(--col-background-2)' stroke-width='1'
                          stroke='var(--col-border-1)' />
                      </g>
                      <g stroke-linecap='round' width='100' height='100' stroke='var(--col-text-1)' stroke-width='5'
                        fill='none' v-html="blksSummary[item0].icon"></g>
                    </svg>
                  </template>
                </div>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
    <div id="graph">
      <div id="modelContainer"></div>
      <div id="outlineContainer" class="hide-always"></div>
    </div>
    <div id="right-pane" class="pane">
      <div id="hide-button-right" class="hide-btn">
        <div>
          <i class="fas fa-angle-double-right"></i>
        </div>
        <div><span id="hide-right-text"></span></div>
      </div>
      <div id="rp-content">
        <div v-if="modelValue !== null">
          <div>
            <h3 class="compress" v-text="GUIText[settings.lang].name"></h3>
            <input v-model.trim="modelValue" type="text" :placeholder="GUIText[settings.lang].name+'...'" />
            <div v-html="GUIText[settings.lang].preview+': '+modelValue"></div>
          </div>
          <div class="gen-btn" @click="applyModelValue()" v-text="GUIText[settings.lang].aChanges"></div>
        </div>
        <div v-else-if="!!uyamakModel">
          <h3 class="compress" v-text="GUIText[settings.lang].label"></h3>
          <input v-model.trim="uyamakModel.Name" type="text" />
          <div v-html="GUIText[settings.lang].preview+': '+uyamakModel.Name"></div>
          <div v-if="uyamakModel.TerminalsIn.editable && rpSettings.fEditMode">
            <h3 class="compress" v-text="GUIText[settings.lang].noOfIns"></h3>
            <input v-model.number="uyamakModel.TerminalsIn.value" type="number" v-bind:min="uyamakModel.TerminalsIn.min"
              v-bind:max="uyamakModel.TerminalsIn.max" />
            <br />
          </div>
          <div v-if="uyamakModel.TerminalsOut.editable && rpSettings.fEditMode">
            <h3 class="compress" v-text="GUIText[settings.lang].noOfOuts"></h3>
            <input v-model.number="uyamakModel.TerminalsOut.value" type="number"
              v-bind:min="uyamakModel.TerminalsOut.min" v-bind:max="uyamakModel.TerminalsOut.max" />
            <br />
          </div>
          <div v-if="Object.keys(uyamakModel.Parameters).length>0">
            <h3 class="compress" v-text="GUIText[settings.lang].params"></h3>
            <template v-for="(Parameter, index) in uyamakModel.Parameters">
              <div v-if="Parameter.Type === 'Checkbox' && Parameter.Dimension === 'Scalar'">
                <div class="checkboxItem pointer" @click="toggleParamCheckVal(index,0,0)">
                  <i class="fas"
                    :class="uyamakModel.Parameters[index]['Value'][0][0]?'fa-check-square':'fa-square'"></i>
                  <span v-text="Parameter.Name[settings.lang]"></span>
                </div>
              </div>
              <div v-else>
                <div class="category-full">
                  <div class="category-head pointer" @click="toggleParamDisplay(index)">
                    <span :key="index+'_'+updatingCounter"><i class="fas fa-caret-right fa-fw"
                        :class="!!parametersDisplay[index]?'fa-rotate-90':''"></i></span>
                    <span v-html="Parameter.Name[settings.lang]"></span>
                  </div>
                  <div v-if="!!parametersDisplay[index]">
                    <div
                      v-if="((Parameter.Dimension === 'Vector') || (Parameter.Dimension === 'Matrix')) && rpSettings.fEditMode"
                      class="matrix-builder-buttons">
                      <span @click="valueDimensionsModify(0, index)" v-html="'$$\\cdots +$$'" class="rotate-90"></span>
                      <span @click="valueDimensionsModify(1, index)" v-html="'$$\\cdots~|~$$'" class="rotate-90"></span>
                      <span v-if="(Parameter.Dimension === 'Matrix')" @click="valueDimensionsModify(2, index)"
                        v-html="'$$\\cdots +$$'"></span>
                      <span v-if="(Parameter.Dimension === 'Matrix')" @click="valueDimensionsModify(3, index)"
                        v-html="'$$\\cdots -$$'"></span>
                    </div>
                    <div class="expandable-x">
                      <table>
                        <template v-for="(rowValue, index1) in uyamakModel.Parameters[index]['Value']">
                          <tr v-if="(index1 === 0) && (Parameter.Dimension === 'Matrix')" style="padding: 0;">
                            <td></td>
                            <template v-for="(value, index2) in uyamakModel.Parameters[index]['Value'][index1]">
                              <td class="center" v-text="index2 + 1"></td>
                            </template>
                          </tr>
                          <tr>
                            <td v-if="(Parameter.Dimension === 'Vector') || (Parameter.Dimension === 'Matrix')"
                              v-text="index1 + 1">
                            </td>
                            <template v-for="(value, index2) in uyamakModel.Parameters[index]['Value'][index1]">
                              <td>
                                <input class="center"
                                  v-if="(['Integer', 'Real', 'Complex', 'Text'].indexOf(Parameter.Type))>=0"
                                  v-model.trim="uyamakModel.Parameters[index]['Value'][index1][index2]" type="text" />
                                <!--v-bind:style="(Parameter.Type !== 'Text')?'text-align: right':''" -->
                                <input v-if="Parameter.Type === 'Color'"
                                  v-model.trim="uyamakModel.Parameters[index]['Value'][index1][index2]" type="color" />
                                <select v-if="Parameter.Type === 'Options'" class="inter-itm"
                                  v-model="uyamakModel.Parameters[index]['Value'][index1][index2]">
                                  <template v-for="(opnName, opnVal) in uyamakModel.Parameters[index]['Options']">
                                    <option v-bind:value="opnVal" v-html='opnName[settings.lang]'></option>
                                  </template>
                                </select>
                                <div v-if="Parameter.Type === 'Checkbox'" class="checkboxItem pointer"
                                  @click="toggleParamCheckVal(index,index1,index2)">
                                  <i class="fas"
                                    :class="uyamakModel.Parameters[index]['Value'][index1][index2]?'fa-check-square':'fa-square'"></i>
                                  <span v-text="Parameter.Name[settings.lang]"></span>
                                </div>
                              </td>
                            </template>
                          </tr>
                        </template>
                      </table>
                    </div>
                    <div class="expandable-x" v-if="(['Integer', 'Real', 'Complex', 'Text'].indexOf(Parameter.Type))>=0"
                      v-html="getComputedValueText(Parameter)"></div>
                  </div>
                </div>
              </div>

            </template>
          </div>
          <div>
            <h3 class="compress" v-text="GUIText[settings.lang].functionality"></h3>
            <div class="expandable-x">
              <div v-html="getBlockDetails"></div>
            </div>
            <br />
            <div v-if="!isBlockValid" v-html="GUIText[settings.lang].errCompat"></div>
            <div class="splitToTwo">
              <div v-if="isBlockValid" class="gen-btn" v-html="GUIText[settings.lang].aChanges" @click="saveModel()">
              </div>
              <div v-if="!isBlockValid" class="blocked gen-btn" v-html="GUIText[settings.lang].aChanges"></div>

              <div class="gen-btn" v-html="GUIText[settings.lang].rChanges"
                onclick="changeEditModelWithSelectedBlock()"></div>
            </div>
            <h3 class="compress" v-text="GUIText[settings.lang].orientation"></h3>
            <div class="matrix-builder-buttons">
              <span @click="editorVue.rotateAll(true)"><i class="fas fa-redo"></i></span>
              <span @click="rotate(0)" v-html="'$$\\Large \\Rightarrow$$'"></span>
              <span @click="rotate(90)" v-html="'$$\\Large \\Downarrow$$'"></span>
              <span @click="rotate(180)" v-html="'$$\\Large \\Leftarrow$$'"></span>
              <span @click="rotate(270)" v-html="'$$\\Large \\Uparrow$$'"></span>
              <span @click="editorVue.rotateAll(false)"><i class="fas fa-undo"></i></span>
            </div>
          </div>
        </div>
        <div v-else>
          <h3 class="compress"><i class="fas fa-fw fa-border-all"></i><span class="gap-left"
              v-text="GUIText[settings.lang].gridLines"></span></h3>
          <div class="checkboxItem pointer" @click="rpSettings.gLinesMinor = !rpSettings.gLinesMinor">
            <i class="fas" :class="rpSettings.gLinesMinor?'fa-check-square':'fa-square'"></i>
            <span v-text="GUIText[settings.lang].gLinesMinor"></span>
          </div>
          <div class="checkboxItem pointer" @click="rpSettings.gLinesMajor = !rpSettings.gLinesMajor">
            <i class="fas" :class="rpSettings.gLinesMajor?'fa-check-square':'fa-square'"></i>
            <span v-text="GUIText[settings.lang].gLinesMajor"></span>
          </div>
          <div class="checkboxItem pointer" @click="rpSettings.gLinesMega = !rpSettings.gLinesMega">
            <i class="fas" :class="rpSettings.gLinesMega?'fa-check-square':'fa-square'"></i>
            <span v-text="GUIText[settings.lang].gLinesMega"></span>
          </div>
          <br />
          <h3 class="compress"><i class="fas fa-fw fa-ruler-combined"></i><span class="gap-left"
              v-text="GUIText[settings.lang].gridSize"></span></h3>
          <input type="number" v-model.number="rpSettings.gridSize">
          <div class="checkboxItem pointer" @click="rpSettings.snapToGrid = !rpSettings.snapToGrid">
            <i class="fas" :class="rpSettings.snapToGrid?'fa-check-square':'fa-square'"></i>
            <span v-text="GUIText[settings.lang].snapToGrid"></span>
          </div>
          <br />
          <h3 class="compress"><i class="fas fa-fw fa-location-arrow"></i><span class="gap-left"
              v-text="GUIText[settings.lang].navi"></span></h3>
          <div id="graph-nav">
            <div class="gen-btn" @click="mainSystem.navigate('zoomOut')"><i class="fa-fw fas fa-search-minus"></i></div>
            <div class="gen-btn" @click="mainSystem.navigate('up')"><i class="fa-fw fas fa-caret-up"></i></div>
            <div class="gen-btn" @click="mainSystem.navigate('zoomIn')"><i class="fa-fw fas fa-search-plus"></i></div>
            <div class="gen-btn" @click="mainSystem.navigate('left')"><i class="fa-fw fas fa-caret-left"></i></div>
            <div class="gen-btn" @click="mainSystem.navigate('0')"><i class="fa-fw fas fa-arrows-alt"></i></div>
            <div class="gen-btn" @click="mainSystem.navigate('right')"><i class="fa-fw fas fa-caret-right"></i></div>
            <div class="gen-btn" @click="mainSystem.navigate('fit')"><i class="fa-fw fas  fa-expand"></i></div>
            <div class="gen-btn" @click="mainSystem.navigate('down')"><i class="fa-fw fas fa-caret-down"></i></div>
            <div class="gen-btn" @click="mainSystem.navigate('zoomActual')"><i class="fa-fw fas  fa-compress"></i></div>
          </div>
          <br />
          <h3 class="compress"><i class="fas fa-fw fa-tools"></i><span class="gap-left"
              v-text="GUIText[settings.lang].oSettings"></span>
          </h3>
          <div class="checkboxItem pointer" @click="rpSettings.showOutline = !rpSettings.showOutline">
            <i class="fas" :class="rpSettings.showOutline?'fa-check-square':'fa-square'"></i>
            <span v-text="GUIText[settings.lang].showOutline"></span>
          </div>
          <div class="checkboxItem pointer" @click="rpSettings.guidesEnabled = !rpSettings.guidesEnabled">
            <i class="fas" :class="rpSettings.guidesEnabled?'fa-check-square':'fa-square'"></i>
            <span v-text="GUIText[settings.lang].guidesEnabled"></span>
          </div>
          <div class="checkboxItem pointer" @click="rpSettings.showLabels = !rpSettings.showLabels">
            <i class="fas" :class="rpSettings.showLabels?'fa-check-square':'fa-square'"></i>
            <span v-text="GUIText[settings.lang].showLabels"></span>
          </div>
          <div class="checkboxItem pointer" @click="rpSettings.showExeOrder = !rpSettings.showExeOrder">
            <i class="fas" :class="rpSettings.showExeOrder?'fa-check-square':'fa-square'"></i>
            <span v-text="GUIText[settings.lang].showExeOrder"></span>
          </div>
          <div class="checkboxItem pointer" @click="rpSettings.hideGraphText = !rpSettings.hideGraphText">
            <i class="fas" :class="rpSettings.hideGraphText?'fa-check-square':'fa-square'"></i>
            <span v-text="GUIText[settings.lang].hideGraphText"></span>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div v-html="textForHint"></div>
      <div v-html="status"></div>
      <div v-html="progress"></div>
    </div>
    <div id="btn-blocks" class="pull-btn">
      <span style="padding-right: 10px;">
        <i class="fas fa-chevron-right"></i>
      </span>
    </div>
    <div id="btn-edit" class="pull-btn">
      <span style="padding-left: 10px;">
        <i class="fas fa-chevron-left"></i>
      </span>
    </div>
  </div>
  <script type="text/javascript" src="pre-scripts.min.js?bv=u"></script>


  <script type="text/javascript" src="dependencies/mathjs/math.min.js"></script>
  <script type="text/javascript" src="dependencies/js-polyfills/polyfill.min.js"></script>
  <script type="text/javascript" src="dependencies/mathjax/tex-svg-full.js"></script>
  <script type="text/javascript" src="dependencies/noty/noty.min.js"></script>
  <script type="text/javascript" src="dependencies/vue/vue.min.js"></script>
  <script type="text/javascript" src="dependencies/mxgraph/js/mxClient.js"></script>
  <script type="text/javascript" src="dependencies/augmented-json-serialization-functions.js"></script>
  <script type="text/javascript" src="dependencies/pako/pako.min.js"></script>
  <!--script type="text/javascript" src="dependencies/ml/ml.js"></script-->

  <!--script type="text/javascript" src="dependencies/dexie/dexie.min.js"></script-->


  <!--Uyamak libraries-->
  <script src="lib.min.js?bv=u"></script>
  <script src="script.min.js?bv=u"></script>

</body>

</html>