@font-face {
	font-family: 'Computer Modern Typewriter Light';
	src: url('cmun-typewriter-light/cmunbtl.eot');
	src: url('cmun-typewriter-light/cmunbtl.eot?#iefix') format('embedded-opentype'),
		 url('cmun-typewriter-light/cmunbtl.woff') format('woff'),
		 url('cmun-typewriter-light/cmunbtl.ttf') format('truetype'),
		 url('cmun-typewriter-light/cmunbtl.svg#cmuntt') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Computer Modern Typewriter Light';
	src: url('cmun-typewriter-light/cmunbto.eot');
	src: url('cmun-typewriter-light/cmunbto.eot?#iefix') format('embedded-opentype'),
		 url('cmun-typewriter-light/cmunbto.woff') format('woff'),
		 url('cmun-typewriter-light/cmunbto.ttf') format('truetype'),
		 url('cmun-typewriter-light/cmunbto.svg#cmunbto') format('svg');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

