:root {
    --left-bar-size: 1;
    --right-bar-size: 1;
    --animation-time: 0.25s;
    --button-size: 2em;
    --menu-height: 28px;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--background-primary);
    color: var(--text-muted);
}

html,
body,
select,
input {
    font-family: "Univers 57 Condensed";
}

input,
select,
button {
    outline: none;
}

::placeholder {
    color: var(--text-muted);
    opacity: 0.5;
}

#settings {
    background-color: var(--background-secondary);
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow-y: auto;
    padding: 16px;
}

#settings>div {
    column-rule: 2px var(--background-secondary-alt) inset;
}

#settings>div>h1 {
    column-span: all;
}

#settings>div>div {
    width: 100%;
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari */
    page-break-inside: avoid;
    /* Theoretically FF 20+ */
    break-inside: avoid-column;
    /* IE 11 */
    display: table;
    /* Actually FF 20+ */
}

#settings>div>div>label {
    display: block;
    font-size: 1.5em;
}

#settings>div>div>select {
    width: 100%;
    font-size: 2em;
    background-color: var(--background-primary);
    color: var(--text-muted);
    border-width: 0;
}

#waitForProcessToFinish {
    display: block;
    background-color: var(--background-secondary);
    z-index: 4;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#waitForProcessToFinish>div {
    display: inline-block;
    margin: auto;
    width: 90%;
    max-width: 300px;
    margin-top: 50px;
}

#DOMWaitingAnimation {
    padding-bottom: 32px;
}

#DOMWaitingHead,
#DOMWaitingAnimation {
    color: var(--header-primary);
    font-size: 2em;
}

#DOMWaitingDesc {
    color: var(--header-secondary);
    text-align: justify;
}



#main>div {
    overflow: hidden;
    transition: width var(--animation-time);
}

#tool-bar {
    grid-area: header;
    background-color: var(--background-secondary-alt);
    color: var(--header-primary);
}

#left-pane {
    grid-area: left;
    width: calc(var(--left-bar-size)*320px);
    background-color: var(--background-secondary);
    border: 1px var(--background-secondary-alt) solid;
    display: grid;
    grid-template-rows: var(--button-size) auto;
}

#left-pane>div:nth-child(2) {
    overflow-y: auto;
}

#graph {
    grid-area: center;
    background-color: var(--background-secondary);
    border: 1px var(--background-secondary-alt) solid;
    position: relative;
}

#right-pane {
    grid-area: right;
    width: calc(var(--right-bar-size)*320px);
    background-color: var(--background-secondary);
    border: 1px var(--background-secondary-alt) solid;
}

#footer {
    grid-area: footer;
}

.pull-btn {
    z-index: 1;
    height: var(--button-size);
    line-height: var(--button-size);
    transition: width var(--animation-time) var(--animation-time), color var(--animation-time), background var(--animation-time), border-radius var(--animation-time);
    background-color: var(--background-secondary-alt);
    cursor: pointer;
}

.pull-btn:hover {
    transition: width var(--animation-time) !important;
    background-color: var(--background-tertiary);
    color: var(--text-normal);
}

.pull-btn>span>i {
    line-height: unset !important;
}


#btn-blocks {
    grid-area: lClose;
    width: calc((1 - var(--left-bar-size))*var(--button-size));
    text-align: right;
    grid-column: 2;
    grid-row: 3;
    border-radius: 0 calc(var(--button-size)/2) calc(var(--button-size)/2) 0;
    /*transition-delay: var(--animation-time);*/
}

#btn-blocks:hover {
    width: calc((1 - var(--left-bar-size))*var(--button-size)*1.5);
}

#btn-edit {
    grid-area: rClose;
    width: calc((1 - var(--right-bar-size))*var(--button-size));
    text-align: left;
    grid-column: 4;
    grid-row: 3;
    border-radius: calc(var(--button-size)/2) 0 0 calc(var(--button-size)/2);
}

#btn-edit:hover {
    width: calc((1 - var(--right-bar-size))*var(--button-size)*1.5);
}



#footer>div:nth-child(1) {
    grid-area: hint;
    background-color: var(--background-secondary-alt);
}

#footer>div:nth-child(2) {
    grid-area: state;
    background-color: var(--background-secondary-alt);
}

#footer>div:nth-child(3) {
    grid-area: time;
    background-color: var(--background-secondary-alt);
}

#main {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas:
        'header header header header header'
        'left center center center right'
        'left center center center right'
        'left center center center right'
        'footer footer footer footer footer';

    grid-gap: 0;
    grid-column-gap: 0;
    background-color: seashell;
    grid-template-columns: minmax(0px, min-content) minmax(0px, min-content) auto minmax(0px, min-content) minmax(0px, min-content);
    grid-template-rows: var(--menu-height) 0px minmax(0px, min-content) auto fit-content(100px);
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-auto-flow: column;
}


@media only screen and (min-width: 960px) {
    #footer {
        display: grid;
        width: 100%;
        grid-template: 'hint state time';
        grid-template-columns: 70% 20% 10%;
    }

    :root {
        --left-bar-size: 1;
        --right-bar-size: 1;
    }

    #settings>div {
        column-count: 3;
    }
}

@media only screen and (min-width: 640px) and (max-width: 960px) {
    #footer {
        display: grid;
        width: 100%;
        grid-template: 'hint hint'
            'state time';
        grid-template-columns: 70% 30%;
    }

    :root {
        --left-bar-size: 1;
        --right-bar-size: 0;
    }

    #settings>div {
        column-count: 2;
    }

    .hide-medium-small {
        display: none;
    }
}

@media only screen and (max-width: 640px) {

    #footer {
        display: grid;
        width: 100%;
        grid-template: 'hint'
            'state''time';
    }

    :root {
        --left-bar-size: 0;
        --right-bar-size: 0;
    }

    #settings>div {
        column-count: 1;
    }

    .hide-small,
    .hide-medium-small {
        display: none;
    }
}

.hide-btn {
    height: var(--button-size);
    line-height: var(--button-size);
    background-color: var(--background-primary);
    cursor: pointer;
}

.hide-btn>div:nth-child(1) {
    float: left;
    padding-left: 5px;
}

.hide-btn>div:nth-child(2) {
    float: right;
    padding-right: 5px;
}

.hide-btn:hover {
    background-color: var(--background-modifier-hover);
}

.hide-btn:hover>div>i {
    animation: widen 4s linear infinite;
}

@keyframes widen {
    0% {
        animation-timing-function: linear;
        padding: 0 0;
    }

    100% {
        animation-timing-function: linear;
        padding: 0 100px;
    }
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu>li {
    float: left;
}

.menu>li a,
.dropbtn {
    display: inline-block;
    color: var(--text-muted);
    text-align: center;
    padding: .25em .75em;
    text-decoration: none;
    cursor: pointer;
}

.menu>li a:hover,
.dropdown:hover .dropbtn {
    color: var(--text-normal);
    background-color: var(--channels-default);
}

.menu>li.dropdown {
    display: inline-block;
}

.dropdown-content {
    z-index: 2 !important;
    display: none !important;
    position: absolute !important;
    background-color: var(--interactive-muted) !important;
    /*min-width: 160px !important;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2) !important;*/
    overflow-y: auto;
    max-height: calc(100% - var(--menu-height));
}

.dropdown-content a {
    color: var(--text-muted) !important;
    padding: 8px 8px !important;
    text-decoration: none !important;
    display: grid !important;
    text-align: left !important;
    grid-template-columns: max-content auto;
}

.dropdown-content a:hover {
    color: var(--text-normal) !important;
    background-color: var(--channels-default) !important;
}

.dropdown:hover .dropdown-content {
    display: block !important;
}

.gap-left {
    padding-left: 4px;
}

.gap-right {
    padding-right: 4px;
}

.compress {
    padding: 0;
    margin: 0;
}

.menuShortcut {
    margin-left: 32px;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.menuShortcut>span:nth-child(odd) {
    margin: 0;
    padding: 0 4px;
    border-radius: 4px;
    border: 1px black solid;
    background-color: var(--interactive-muted);
    color: var(--text-muted);

}

.menuShortcut>span:nth-child(even) {
    margin: 0 2px;
}

ul.menu-kbs>li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--interactive-muted);
    opacity: 0.25;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--interactive-normal);
    opacity: 0.25;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--interactive-hover);
    opacity: 0.25;
}

.pointer {
    cursor: pointer;
}

.close-btn {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 2em;
    margin: 0.25em;
    cursor: pointer;
}

.close-btn:hover {
    color: var(--text-normal);
}

.blocks-search-bar {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 4px;
    border-top: 1px var(--background-secondary-alt) solid;
    border-bottom: 1px var(--background-secondary-alt) solid;
    background-color: var(--background-primary);
    padding: 0.25em;
}

.blocks-search-bar>span,
.blocks-search-bar>span>input {
    width: 100%;
    font-size: 1em;
    background-color: var(--background-primary);
    color: var(--text-muted);
    border-width: 0;
}

.blocks-search-bar>span:nth-child(2) {
    display: grid;
    grid-template-columns: auto min-content;
}

.blocks-search-bar>span>input:focus {
    color: var(--text-link);
}

.category-head {
    height: var(--button-size);
    line-height: var(--button-size);
    cursor: pointer;
}

.category-content {
    border-bottom: 1px var(--background-secondary-alt) solid;
}