@import url('https://fonts.googleapis.com/css?family=Trocchi');

h1, h2, h3, h4, h5, h6, .w3-slim, .w3-wide, body {
	/*font-family: "Roboto", sans-serif;*/
	font-family:  'Trocchi'; /*Comfortaa, Adamina, Cutive, Trocchi, Corben*/
}

--bar-block .w3-bar-item{padding:16px;font-weight:bold}

body, input, textarea, select, button {
	/*text-shadow: 0 1px 1px rgba(0,0,0,0.3);*/
}

.w3-sidenav a {padding:16px;font-weight:bold}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    black;
	opacity:  0.5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    black;
   opacity:  0.5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    black;
   opacity:  0.5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    black;
   opacity:  0.5;
}

bibtex { display: none; }
.BibTeXRawCodeBlock {
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.BibTeXRawCodeBlock {
	word-wrap: break-word;
}


div.BibliographyGroup>H1 {
	font-size: 15px;
    /*padding: 0px;
    margin: 0px;*/
	/*text-decoration: underline;*/
	padding-left: 5px;
	font-weight: bold;
	font-style: italic;
}
div.BibliographyGroup>H2 {
	font-size: 15px;
    padding: 0px;
    margin: 0px;
	padding-left: 15px;
	font-weight: bold;
	/*font-style: italic;*/
}

ul.BibliographyItem {
	margin: 2px 0px;
}

li.BibliographyItem {
	text-align: justify;
	padding-right: 15px;
	padding-bottom: 10px;
}

li.BibliographyItem>div, table {
	word-break: break-all;
}

div {
	text-align: justify;
}