html,
body {
  font-family: "Univers 57 Condensed";
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--col-background-0);
}

#scope {
  width: 100%;
  height: calc(100% + 20px);
  max-width: 100%;
}

#css-ref-ele-0 {
  background-color: var(--col-background-0);
  color: var(--col-text-0);
  border: var(--col-border-0);
}

#css-ref-ele-1 {
  background-color: var(--col-background-1);
  color: var(--col-text-1);
  border: var(--col-border-1);
}

#css-ref-ele-2 {
  background-color: var(--col-background-2);
}

#css-ref-ele-3 {
  background-color: var(--col-background-3);
}

#css-ref-dis-0{
  background-color: var(--col-dis-back);
  color: var(--col-dis-fore);
}