:root {
    --left-bar-size: 1;
    --right-bar-size: 1;
    --animation-time: 0.25s;
    --button-size: 2em;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "Univers 57 Condensed";
    background-color: var(--col-background-1);
    color: var(--col-text-0);
}

h1, h2, h3, h4, h5, h6 {
    font-family: unset;
}

#waitForProcessToFinish {
    display: block;
    margin: 0;
}
#DOMWaitingDesc {
    font-style: italic;
}

#main>div {
    overflow: hidden;
    transition: width var(--animation-time);
}

#tool-bar {
    grid-area: header;
    background-color: var(--background-secondary-alt);
    color: var(--header-primary);
}

#left-pane {
    grid-area: left;
    width: calc(var(--left-bar-size)*320px);
    background-color: var(--background-secondary);
    border: 1px var(--background-secondary-alt) solid;
}

#graph {
    grid-area: center;
    background-color: var(--background-secondary);
    border: 1px var(--background-secondary-alt) solid;
}

#right-pane {
    grid-area: right;
    width: calc(var(--right-bar-size)*320px);
    background-color: var(--background-secondary);
    border: 1px var(--background-secondary-alt) solid;
}

#footer {
    grid-area: footer;
}

.pull-btn {
    z-index: 2;
    height: var(--button-size);
    line-height: var(--button-size);
    transition: width var(--animation-time) var(--animation-time), color var(--animation-time), background var(--animation-time), border-radius var(--animation-time);
    background-color: var(--background-secondary-alt);
    cursor: pointer;
}

.pull-btn>span>i {
    line-height: unset !important;
}

#btn-blocks {
    grid-area: lClose;
    width: calc((1 - var(--left-bar-size))*var(--button-size));
    text-align: right;
    grid-column: 2;
    grid-row: 3;
    border-radius: 0 calc(var(--button-size)/2) calc(var(--button-size)/2) 0;
    /*transition-delay: var(--animation-time);*/
}

.pull-btn:hover {
    width: calc(var(--button-size)*1.5) !important;
    transition: width var(--animation-time) !important;
    background-color: var(--background-tertiary);
    color: var(--text-normal);
}

#btn-edit {
    grid-area: rClose;
    width: calc((1 - var(--right-bar-size))*var(--button-size));
    text-align: left;
    grid-column: 4;
    grid-row: 3;
    border-radius: calc(var(--button-size)/2) 0 0 calc(var(--button-size)/2);
}



#footer>div:nth-child(1) {
    grid-area: hint;
    background-color: var(--background-secondary-alt);
}

#footer>div:nth-child(2) {
    grid-area: state;
    background-color: var(--background-secondary-alt);
}

#footer>div:nth-child(3) {
    grid-area: time;
    background-color: var(--background-secondary-alt);
}

#main {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas:
        'header header header header header'
        'left center center center right'
        'left center center center right'
        'left center center center right'
        'footer footer footer footer footer';

    grid-gap: 0;
    grid-column-gap: 0;
    background-color: seashell;
    grid-template-columns: minmax(0px, min-content) minmax(0px, min-content) auto minmax(0px, min-content) minmax(0px, min-content);
    grid-template-rows: fit-content(120px) 0px minmax(0px, min-content) auto fit-content(100px);
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-auto-flow: column;
}


@media only screen and (min-width: 960px) {
    #footer {
        display: grid;
        width: 100%;
        grid-template: 'hint hint hint hint hint hint hint hint hint state state state time';
    }

    :root {
        --left-bar-size: 1;
        --right-bar-size: 1;
    }

}

@media only screen and (min-width: 640px) and (max-width: 960px) {
    #footer {
        display: grid;
        width: 100%;
        grid-template: 'hint hint hint hint hint hint hint hint hint hint hint hint'
            'state state state state state state state state state time time time';
    }

    :root {
        --left-bar-size: 1;
        --right-bar-size: 0;
    }
    .hide-medium-small {
        display: none;
    }
}

@media only screen and (max-width: 640px) {

    #footer {
        display: grid;
        width: 100%;
        grid-template: 'hint'
            'state''time';
    }

    :root {
        --left-bar-size: 0;
        --right-bar-size: 0;
    }
    .hide-small, .hide-medium-small {
        display: none;
    }
}

.hide-btn {
    height: var(--button-size);
    line-height: var(--button-size);
    background-color: var(--background-primary);
    cursor: pointer;
}

.hide-btn>div:nth-child(1) {
    float: left;
    padding-left: 5px;
}

.hide-btn>div:nth-child(2) {
    float: right;
    padding-right: 5px;
}

.hide-btn:hover {
    color: var(--text-normal);
    background-color: var(--background-modifier-hover);
}

.hide-btn:hover>div>i {
    animation: widen 2s linear infinite;
}

@keyframes widen {
    0% {
        animation-timing-function: linear;
        padding: 0 0;
    }

    100% {
        animation-timing-function: linear;
        padding: 0 50px;
    }
}